.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0.25turn, #180c64,#000, #2b2b88);
}

.main-item-container {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
}

.splash-slogan {
    margin-top: 140px;
    font-size: 75px;
}

.splash-context-text {
    font-size: 25px;
    margin: 20px 0 55px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
}

.category-box-container {
    position: relative;
}

.category-box {
    width: 130px;
    margin: 10px;
    height: 130px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 15px;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    overflow-wrap: break-word;
    border: 1px lightgray solid;
}

.sign-up-btn {
    margin: 60px auto 0;
    border: 2px solid var(--purple-primary);
    background-color: var(--purple-primary);
    border-radius: 35px;
    padding: 15px 40px;
    font-size: 18px;
    color: white;
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.sign-up-btn:hover {
    cursor: pointer;
    color: lightgray;
    border-color: var(--darker-purple);
    background-color: var(--darker-purple);
}

.sign-up-btn:active {
    border-color: var(--primary-pink);
    background-color: var(--primary-pink);
}

.check-box {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 15%;
    top: 15%;
    background-color: #000;
}

.CD-box:hover {
    border-color: var(--primary-pink);
}

.CD {
    color: var(--primary-pink);
}

.IT-box:hover {
    border-color: var(--light-purple);
}

.IT {
    color: var(--light-purple);
}

.SD-box:hover {
    border-color: var(--primary-orange);
}

.SD {
    color: var(--primary-orange);
}

.MK-box:hover {
    border-color: var(--primary-pink);
}

.MK {
    color: var(--primary-pink);
}

.PM-box:hover {
    border-color: var(--primary-blue);
}

.PM {
    color: var(--primary-blue);
}

.SRM-box:hover {
    border-color: var(--primary-teal);
}

.SRM {
    color: var(--primary-teal);
}

.TM-box:hover {
    border-color: var(--light-blue);
}

.TM {
    color: var(--light-blue);
}

.HR-box:hover {
    border-color: var(--primary-salmon);
}

.HR {
    color: var(--primary-salmon);
}

.OPR-box:hover {
    border-color: var(--darker-teal);
}

.OPR {
    color: var(--darker-teal);
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: 90px;
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: 90px;
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(45vw)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}


@media (max-width: 800px){
    .main-container {
        height: 100%;
    }

    .category-container{
        justify-content: center;
    }

    .sign-up-btn{
        margin-bottom: 30px;
    }
}
