.single-task-information-container{
    width: 85%;
    display: flex;
    margin: 0 50px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.single-task-information{
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--off-white);
}

.calendar-container{
    position: relative;
}

.calendar-picker{
    height: 30px;
    border: none;
    font-size: 16px;
    background-color: var(--off-white);
}


.task-padding{
    width: 195px;
    margin-right: 40px;
}

.calendar-icon{
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 0;
}

.status-option-container{
    height: 30px;
    width: 100px;
    font-size: 16px;
    text-align: center;
}

.task-description-name-input{
    width: 35vw;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 5px;
    background-color: var(--off-white);
}

.task-description-name-input:hover{
    border: 1px dotted black;
}

.status-picker-container{
    position: relative;
}

.status-picker-list{
    z-index: 5;
    width: 195px;
    list-style: none;
    position: absolute;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
}

.status-option{
    margin: 2px;
    padding: 10px;
    color: white;
}

.status-option-none{
    height: 41px;
}
