.category-header-container{
    margin: 20px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.create-task-input-form{
    margin-left: 50px;
}

.create-task-input{
    width: 85%;
    height: 31px;
    margin-top: 3px;
    padding-left: 5px;
    caret-color: black;
}

.create-task-btn{
    width: 50px;
    height: 31px;
    border: none;
    color: white;
    font-size: 15px;
    background-color: var(--primary-blue);
}

.create-task-btn:disabled{
    outline: none;
    pointer-events: none;
    background-color: white;
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.create-task-btn:active{
    background-color: var(--primary-pink);
}
.category-name-and-menu{
    display: flex;
    align-items: center;
}

.drop-down-icon{
    color: white;
    padding: 1px 4px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: var(--primary-blue);
}

.cat-item-padding{
    padding-right: 15px;
}

.category-items-container{
    display: flex;
}

.category-item{
    margin-right: 100px; 
}

.category-name-input{
    border: none;
    padding: 5px;
    font-size: 18px;
    caret-color: black;
}
.category-name-input:hover{
    border-radius: 5px;
    border: 1px dotted black;
}

.category-name-input:focus{
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--primary-blue);
}

.task-status{
    border: none;
    width: 100%;
    height: 30px;
    color: white;
    font-size: 16px;
    padding: 6px 0;
    text-align: center;
    background-color: transparent;
}

.task-{
    background-color: lightgray;
}

.task-:hover{
    background-color: darkgray;
}

.task-Done{
    background-color: #72c793;
}

.task-Done:hover{
    background-color: #21c760;
}

.task-In{
    background-color: #f5cf7f;
}

.task-In:hover{
    background-color: #f5bf49;
}

.task-Stuck{
    background-color: #e4757e;
}

.garbage-cat-icon:hover{
    color: red;
}
