.category-header-container{
    margin: 20px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.category-name-and-menu{
    display: flex;
    align-items: center;
}

.drop-down-icon{
    color: white;
    padding: 1px 4px;
    margin-right: 20px;
    border-radius: 5px;
    border-radius: 20px;
    background-color: var(--primary-blue);
}

.category-items-container{
    display: flex;
}

.category-item{
    margin-right: 100px; 
}
