.entire-workspace-detail-tab{
    width: 100vw;
}

.workspace-full-detail-container{
    margin: 10px;
}

.workspace-full-detail-header{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.workspace-name-edit-input{
    display: flex;
}

.right-side-detail-header{
    display: flex;
}

.form-edit-input{
    height: 5vh;
    width: 21vw;
    font-size: 16px;
    padding-left: 10px;
    caret-color: black;
}

.add-category-btn{
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 20px 20px 5px;
    background-color: var(--primary-blue);
}

.add-category-btn:hover{
    cursor: pointer;
    background-color: var(--darker-purple);
}

.add-category-btn:active{
    background-color: var(--primary-pink);
}

.no-workspace-container{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

.home-workspace-direction{
    font-size: 50px;
}

.user-search-bar{
    margin: 30px 0;
}

.search-bar{
    width: 25vw;
    height: 5vh;
    text-align: center;
    border: 1px solid gray;
}

.search-bar:focus{
    outline: none;
    border: 2px solid var(--primary-blue);
}

.search-result{
    padding: 8px;
    outline: none;
    text-align: center;
    border: 1px solid gray;
}

.search-result:hover{
    outline: none;
    cursor: pointer;
    border: 2px solid var(--primary-pink);
}

.user-profile-tab{
    padding: 12px;
    border: 1px solid gray;
}

.user-profile-tab:hover{
    outline: none;
    cursor: pointer;
    border: 1px solid var(--primary-pink);
}

@media (max-width: 800px){
    .no-workspace-container{
        margin-top: 5vh;
        justify-items: center;
        align-items: center;
    }

    .create-workspace-btn{
        margin: 0;
    }

    .workspace-full-detail-header{
        display: none;
    }
}
