:root {
    --purple-primary: #6C6CFF;
    --darker-purple: #4444b5;
    --light-purple: #a25ddc;
    --primary-orange: #ff9900;
    --primary-blue: #009aff;
    --light-blue: #579bfc;
    --primary-salmon: #ff7575;
    --primary-teal: #00d2d2;
    --darker-teal: #4eccc6;
    --primary-pink: #ff158a;
}
