#modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#modal-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    position: fixed;
    background-color: rgba(243, 242, 239, 0.7);
}

#modal-content {
    width: 40vw;
    height: 90vh;
    min-width: 300px;
    border-radius: 20px;

    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    position: absolute;
    background-color: white;
}


#create-workspace-modal-content {
    width: 450px;
    height: 300px;
    border-radius: 6px;

    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
