#website-logo{
    margin-bottom: 15px;
}

.side-nav-bar-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-dark);
    height: 100vh;
}

.menu-items-btn{
    display: flex;
    margin: 20px 0;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
}

.side-nav-footer{
    display: flex;
    flex-direction: column;
}

.nav-icon{
    padding: 10px;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    border: 1px solid var(--primary-dark);
}

.nav-icon:hover{
    background-color: black;
}

.nav-icon:active{
    color: var(--primary-pink);
}

.nav-logout-btn{
    margin-bottom: 30px;
}

.got-request{
    color: var(--primary-pink);
}

.sidenav-items{
    display: none;
    list-style: none;
}

.sidenav-items a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.mobile-side-nav-container{
    display: none;
}

@media (max-width: 800px){
    .mobile-side-nav-container{
        display: flex;
        flex-direction: column;
        background-color: var(--primary-dark);
    }
    .side-nav-bar-container{
        display: none;
        flex-direction: column;
    }
    
    .sidenav-items li {
        margin: 7px 0;
    }

    .sidenav-items.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .workspace-logo{
        margin: 15px 0 0 10px;
    }
    

}
