.sign-in-nav-bar-container{
    height: 100px;
    background-color: antiquewhite;
}

.sign-in-nav-bar-item{
    margin: 0 10px;
}

#sign-in-logo{
    width: auto;
    height: 100px;
}

@media (max-width: 800px){
    .sign-in-nav-bar-container{
        height: 65px;
    }

    #sign-in-logo{
        width: auto;
        height: 65px;
    }
}
